@model MomosMatch.Models.UserLogin


<div class="userForm">
<h1 class="display-3 text-center">Login</h1>
<hr>

<form method="post" asp-action="LoginUser" class="">
    <div class="form-group mb-3 text-right">
        <span class="mt-2 text-danger" asp-validation-for="LoginEmail"></span>
        <input asp-for="LoginEmail" placeholder="email" class="form-control"/>
    </div>

    <div class="form-group mb-3">
        <span class="mt-2 text-danger" asp-validation-for="LoginPassword"></span>
        <input asp-for="LoginPassword" placeholder="*******" class="form-control" type="password"/>
    </div>
    <div>

    <button type="submit" class="btn btn-outline-secondary btn-block">Submit</button>
    </div>
</form>
</div>
